.DS_Store
node_modules
.next
.expo
out
dist
build
coverage
*.tsbuildinfo
pnpm-debug.log*
package-lock.json
npm-shrinkwrap.json
yarn.lock

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea
.vscode

# Prisma
apps/backend/prisma/migrations/dev.db

# mobile native build outputs
android/.gradle
android/build
ios/Pods
ios/build
DerivedData

# local database backups
/all_backup.sql
*.sql
*.dump
*.backup
